.cardLogin {
  background-color: var(--cinz-500);
  margin: 10% auto 10% auto;
  width: 350px;
  height: 330px;
  border-radius: 4px;
  border-style: solid;
  border-color: var(--cinz-578);
  border-width: 0.01rem;
}

.cardLogin > div {
  margin: 10px 20px 0 20px;
}

.boxies {
  width: 100%;
  padding: 5px;
}

#checkbk {
  height: 10px;
  width: 10px;
  outline: none;
  transition-duration: 0.3s;
  background-color: #000000;
  color: #000000;
  cursor: pointer;
}

input {
  margin: 4px auto 10px auto;
}

.btnLogin {
  background-color: var(--blu-575);
  color: var(--branc-0);
  border-radius: 3px;
  border-style: none;
  padding: 3px;
  font-size: 15px;
}

.boxregister {
  margin: 0;
  background-color: var(--cinz-578);
}

h1 {
  font-size: 35px;
  text-align: center;
  color: var(--blu-585);
  padding: 5px;
}
